<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Clubul campionilor" />
    <meta name="keywords" content="rugby,grivita,campioana" />
    <%- include("../fragmente/head") %>

    <title>RC Grivita</title>

</head>
<body>

<%- include("../fragmente/header") %> 
<main>
    <section>
        <h3>404 page not found</h3>
        <p>ai gresit pagina boss</p>
    </section>
</main>

<%- include("../fragmente/footer") %>
</body>
</html>