<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Clubul campionilor" />
    <meta name="keywords" content="rugby,grivita,campioana" />
    <%- include("../fragmente/head") %>

    <title>RC Grivita</title>

</head>
<body>
<p></p>
<%- include("../fragmente/header") %>

<main>
    <%- include("../fragmente/banner") %>
	<div class="box">
		<div class="box1">
			<p>Pe scurt, vizavi de sezonul trecut, a fost sezonul in care ne-am dat seama ca am ajuns la masa semibogatilor si nu mai este loc pentru susanele cu fratii nostri de suferinta precum Sportul Studentesc sau CSM Sibiu. Desi, din Divizia Nationala, trebuie sa intelegem ca "branza e pe bani" si, chiar daca avem prieteni si oferim sau primim respect, apar si momente mai putin placute, care iti lasa un gust amar. Dar sunt convins ca reprezentantii cluburilor respective iau masurile necesare pentru a remedia aceste aspecte.
				<br><br>
				La nivel sportiv, sunt convins ca toata lumea este de aceeasi parere, respectiv ca ne-am depasit cu mult conditia si am deranjat multe calcule.
				<br><br>
				Vizavi de noul sezon, in primul rand vreau sa multumesc "batranilor" care au acceptat o noua provocare si si-au asumat posibilitatea de a juca rolul de locomotiva pentru noua generatie, Docky, Budi, Luigi, Perniu, Finu, Alecu, Ionel si ceilalti.
				<br><br>
				Apoi, exista un grup care, incet, dar sigur, devine grup de baza. Ma gandesc aici la Chitic, Ailincai, Cojocaru, Ioana, Indianu, Damian, Mitrea, Moise, Sima, Cernean si ceilalti. Baieti, ati ridicat pragul foarte sus in ultimii ani, dar nu vreau sa cred ca a fost maximul de potential atins.</p>
		</div>
		<div class="box2">
			<img src="/imagini/WhatsApp Image 2021-04-11 at 20.53.18.jpeg" alt="imagine emblema"  id="img1">
		</div>
        <div class="box3">
            <img src="/imagini/WhatsApp Image 2021-04-13 at 08.22.13.jpeg" alt="imagine emblema"  id="img2">
        </div>
        <div class="box4">
            <p>Pai cred ca toti ne dorim o calificare la Cupa Mondiala din 2023. Nu este imposibil, dar cred ca va fi extrem de greu sa realizam asta din mai multe motive de care nu as dori sa vorbesc pentru ca ar trebui sa facem o emisiune speciala pentru asta. Dupa parerea mea suntem intr-un moment in care ar trebui sa regandim toata strategia la nivelul rugbiului romanesc si sa plecam pe niste baze solide si corecte, daca dorim sa mai existam in lumea rugbiului.</p>
            <p>Iar aici ma refer la sedintele cu staff-ul, analiza meciurilor, a antrenamentelor, pregatirea acestora, sedinte video cu jucatorii, individuale sau colective, gestionarea grupului si a unor situatii etc. Nu mai vorbim de nivelul de stres la care este supus acesta. Bineinteles ca, in functie de nivelul la care antrenezi si disponibilitatea pe care o ai, acest timp de lucru este diferit, insa lucrul cu oamenii ramane intotdeauna complicat, indiferent daca acestia sunt copii sau adulti. Doua lucruri raman foarte importante pentru un antrenor: Pasiunea si Implicarea.</p>
        </div>
	</div><br>
    <div class="boxa">
        <div class="tabel">
            <table style="width: 100%; border-spacing: 1px;">
                <thead>
                    <tr>
                        <td>
                            <table style="width: 100%;">
                                <tr style="color:white;background-color:grey">
                                    <th>Jucator</th>
                                    <th style="width: 20%;">Pozitie</th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div style="width: 100%; height:100%; overflow:auto;">
                                <table style="width: 100%; border-spacing: 1px;" class="tabel1">
                                    <tr>
                                        <td>
                                            Alexandru Oancea
                                        </td>
                                        <td style="width: 20%;">pilier</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Octavian Chitic
                                        </td>
                                        <td style="width: 20%;">taloner</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Viorel Perniu
                                        </td>
                                        <td style="width: 20%;">Linia II</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Andrei Glavan
                                        </td>
                                        <td style="width: 20%;">Flanker</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Damian Ispas
                                        </td>
                                        <td style="width: 20%;">Inchidere</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Andrei Homiuc
                                        </td>
                                        <td style="width: 20%;">Centru</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="calendar"></div>
        <div class="anunturi"></div>
    </div>
    <br>
    <div class="wra">
    <div>
        <h2>Bine ati venit!</h2>
        <p>Aceasta este pagina oficiala a clubului RC <b>Grivita</b></p>

    </div>
    <div>
    <details>
        <summary> Clubul canpionilor</summary>
        <p>
            <q>Si tu poti fi <s>campion</s> <ins>canpion</ins>!</q>
        </p>
    </details>
    </div>
    <div id="link1">
        <h2>Echipa</h2>
        <p>Echipa pentru sezonul actual urmeaza sa fie anuntata in cel mai scurt timp.</p>
    </div>
    <div id="link2">
        <h2>Istorie</h2>
        <p><b>Rugby Club Grivita</b> a fost de 12 ori <b>campioana</b> nationala si <b>campioana</b> europeana in 1964, 
            <br>cand a batut pe <b>campioana</b> Frantei, Mont-de-Marsan, cu 10-0, in finala.</p>
        </div>
    <div id="link3">
        <h2>Competitii</h2>
        <p>Consulta clasamentul la zi al superligii de <b>rugby</b> si al cupei Romaniei aici!</p>
        <div class="taburi-iframe">
        <a href="https://www.super-liga.ro/superliga/clasament/.html" target="ifr">Superliga</a>
        <a href="https://www.super-liga.ro/cupa-romaniei/clasament/" target="ifr">Cupa</a>    
        </div>
        <iframe name="ifr" width="560" height="315" src="https://www.super-liga.ro/superliga/clasament/.html" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="link4">

        <h2>Juniori</h2>
        <p>Ei sunt viitorul.</p>
        <img src="/imagini/Grivita-U161.jpg" alt="imagine juniori" width="450" height="270">
    </div>
    <br>
    <div>
    <details>
        <summary> Doneaza pentru Grivita</summary>
        <p>
            Puteti dona in contul deschis la BFG: ROBFG974567532977937342
            <br>Multumim!
        </p>
    </details>
    </div>
</div>
</main>

<%- include("../fragmente/footer") %>

</body>
</html>