<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Clubul campionilor" />
    <meta name="keywords" content="rugby,grivita,campioana" />
    <%- include("../fragmente/head") %>

    <title>RC Grivita</title>

</head>
<body>

<%- include("../fragmente/header") %> 
<main>
    <section>
        <h2>Istorie</h2>
        <p>Rugby Club Grivita a fost de 12 ori campioana nationala si campioana europeana in 1964,
            cand a batut pe campioana Frantei, Mont-de-Marsan, cu 10-0, in finala.</p>
    </section>
</main>

<%- include("../fragmente/footer") %>
</body>
</html>