<footer>

    <a href="#" id="sagetuta">&#129081<span>Hai sus deluta!</span></a>
    <small>
        &#169; 2021 Grivita Toate drepturile rezervate.
        Creat în data de <time datetime="2021-03-22">2021-03-22</time>
    </small>
    <address>
        Email <a href="mailto:grivita@yahoo.com">grivita@yahoo.com</a><br>
        Numar de Telefon <a href="tel:0774748482">077GRIVITA</a><br>
        Strada Mihailesti, Bucuresti ,Romania
    </address>

</footer>