<header>
    <div class="titlu">
        <img src="/imagini/1538560529_rcgrivita2.png" alt="imagine emblema" width="75" height="75">
        <h1>Rc grivita</h1>
    </div>
    <nav>
    
        <label id="hamburger" for="ch-menu">
            <img src="/imagini/18-512.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul>
            <li>
                <a href="/index">Acasa</a>
                <ul>
                    <li><a href="/index#link1">Echipa</a></li>
                    <li><a href="/index#link3">Competitii</a></li>
                    <li><a href="/index#link4">Juniori</a></li>
                </ul>
            </li>
            <li><a href="/istorie">Istorie</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li>
                <a href="/echipa">Echipa</a>
                <ul>
                    <li><a href="/echipa?categ=gramada">Gramada</a></li>
                    <li><a href="/echipa?categ=troacar">Troacari</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <br>
    </header>