#galerie-statica {
    display: grid;
    grid-template-areas: "box1";
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
#galerie-statica> picture{
    background: var(--gri-deschis);
    padding:1em;
}
#galerie-statica>picture:nth-child(odd){
    background:var(--gri-inchis);
}